<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.vphone.vphoned</string>
	<key>ProgramArguments</key>
	<array>
		<string>/iosbinpack64/bin/bash</string>
		<string>-c</string>
		<string>echo &quot;[vphoned-launch] starting&quot; &gt;/dev/console; /usr/bin/vphoned; rc=$?; echo &quot;[vphoned-launch] exited rc=$rc&quot; &gt;/dev/console; exit $rc</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/dev/console</string>
	<key>StandardErrorPath</key>
	<string>/dev/console</string>
	<key>ThrottleInterval</key>
	<integer>2</integer>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
